@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500&display=swap');

$backgroundGrey: #E2E8E9;
$backgroundBlank: #FEFEFF;
$backgroundPurple: #856fb3;
$backgroundOverlay: #BDBDBD3D;
$backgrounHoverBlue: steelblue;
$colorWhite: #ffffff;
$colorGray: #797979;
$colorPurple: #4E4B7A;

//Properties Generals Globals
.box-shadow{
    -webkit-box-shadow: 0px 3px 23px 1px rgba(217,217,217,1);
    -moz-box-shadow: 0px 3px 23px 1px rgba(217,217,217,1);
    box-shadow: 0px 3px 23px 1px rgba(217,217,217,1);
}

.center-vert-horizon{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.border-radius-day{
    border-radius: 0px 10px 10px 0px;
}

//Properties Hover General

.overlay{
    position: absolute;
    font-size: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $backgroundOverlay;
    border-radius: 24px;
    color: $colorWhite;
}

