
@import "_variables.scss";
@import "image_hover.scss";
@import "responsive.scss";
@import "loader.css";

body{
    background: $backgroundGrey;
    font-family: 'Poppins', sans-serif;
}

button{
    background: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
    top: -2px;
    position: relative;
}

.menu_nav_mobile{
    display: none;
}

.m-0{
    margin:  0px!important
}

.p-0{
    padding: 0px!important
}

.p-5{
    padding:  5px!important;
}

.p-20{
    padding: 20px!important;
}

.pb-20{
    padding-bottom: 20px!important;
}


.p-left-20{
    padding-left: 20px!important
}

.border-right{
    border-right: 1px solid #b9b9b9;
    height: 20px;
}

.container-clime{
    background: $backgroundBlank;
    max-width: 1110px;
    margin: auto;
    padding: 10px 30px;
    border-radius: 30px;
    padding-bottom: 0px;
    padding-top: 30px;

}
.container-clime .clime-image-state{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: block;
}
.container-clime .height-general-box{
    height: 85px;
}

/*Sidebar Clime*/
.sidebar-clime{
    position: absolute;
    top: -110px;
    z-index: 9999;
}
/*End Sidebar Clime*/

/*List Clime General*/
.container-clime .container-general-clime{
    @extend .box-shadow;
    border-radius: 10px;
    background-color: $backgroundBlank;
    margin-bottom: 10px;
}

.container-clime .text-general-clime{
    @extend .center-vert-horizon;
    font-size: 34px;
    color: $colorGray;
}

.container-clime .title-card-general{
    font-size: 18px;
    margin: 0px;
    color: $colorGray;
}

.container-clime .subtitle-card-general{
    font-size: 12px;
    margin: 0px;
    color: $colorGray;
}

.container-clime .box-general-text{
    @extend .center-vert-horizon;
}

.container-clime .card-details-general{
    text-align: center;
    font-size: 12px;
    color: $colorGray;
}

/* End List Clime General*/

/*List Clime*/

.container-clime .container-list-clime{
    @extend .box-shadow;
    border-radius: 10px;
    position: relative;
    height: 70px;
    margin-bottom: 15px;
}

.container-clime .container-list-text-clime{
    margin-top: 14px;
    color: $colorGray;
    font-size: 12px;
}

.container-clime .number-list-clime{
    @extend .center-vert-horizon;
    background: $backgroundGrey;
    color: $colorGray;
    position: absolute;
    font-size: 14px;
    border-radius: 20px;
    width: 90px;
    height: 80px;
    text-align: center;
    top: -5px;
    right: -25px;
    &:hover{
        background: $backgroundPurple;
        color: $colorWhite;
        cursor: pointer;
    }
}

/*End List Clime*/

/* Link buttom */
.card-location{
    border: 1px solid rgb(158, 158, 158);
    background-color: $backgroundBlank;
    border-style: dashed;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;

}
.container-clime .btn-location{
    background-color: $backgroundGrey;
    color: $colorPurple;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin: auto;
    display: block;
    width: 120px;
    text-align: center;
    border: 1px solid #826db2;
    cursor: pointer;
    &:hover{
        background-color: $backgroundPurple;
        color: $colorWhite
    }
}
/*End Link buttom */


/*Sidebar Clime Day */
.clime-day-sidebar{
    width: 100px;
    position: absolute;
    z-index: 9999;
    margin-top: 70px;
    margin-left: -30px;
}
.clime-day-sidebar .icon-day{
    background: #fff;
    padding: 5px;
    position: relative;
    @extend .border-radius-day;
}
.clime-day-sidebar .state-degrees-day{
    background: #826db2;
    color: #fff;
    text-align: center;
    font-size: 34px;
    padding: 10px;
    margin-top: 3px;
   @extend .border-radius-day;
}
.clime-day-sidebar .txt-state{
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0px;
    right: 0px;
    font-size: 12px;
    color:$colorGray;
}

/*End Sidebar Clime Day */

/*Authors Section*/
.author-card .img-author{
    width: 30px;
    height: 30px;
    margin: 2px
}

.author-card .txt-place{
    font-size: 1em;
    top: 5px;
    position: relative;
    color:#606060
}

.author-card .buttom-pluss{
    background-image: url('./../images/author/pluss.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    border:0px;
    &:hover{
        background-image: url('./../images/author/pluss_hover.png');
    }
}
.author-card .text{
    margin-top: 10px;
    font-size: 10px;
    padding: 0px;
    padding-left: 10px;
    color:$colorPurple
}
/*End Author Sections*/

/*Copiryng*/
.copiryng{
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

/*Nav Menu*/
.menu_nav_mobile{
    background: $backgroundPurple;
    padding: 25px 20px;
    top:30px;
    right: 0px;
    position: fixed;
    cursor:pointer;
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
    z-index: 99999;
}
.menu_nav_mobile .menu-bouner{
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 2px;

}
/*End Nav Menu*/

/*Styles Fonst*/
.container-clime .title{
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
}
.container-clime .subtitle{
    font-weight: 200;
    font-size: 16px;
}


