.container-news-clime .icon-map{
  background-image: url(./../images/icon-map.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top:4px;
  height: 20px;
  width: 20px;
  display: inline-flex;
}


/* Conatiner Image 1 */

.container-news-clime .container-1 {
    position: relative;
  }
  
.container-news-clime .image-1 {
    width: 100%;
    height: auto;
    border-radius: 24px;
  }
  
.container-news-clime .overlay-1 {
    height: 95%;
    padding: 10px;
    @extend .overlay;
  }
  
.container-news-clime .container-1:hover .overlay-1 {
    opacity: 1;
    cursor: pointer;
  }
  

  /*End Conatiner Image 1 */

  /*Conatiner Image 2 */
    .container-news-clime .container-2 {
      position: relative;
    }
    
  .container-news-clime .image-2 {
      width: 100%;
      height: auto;
      border-radius: 24px;
    }
    
  .container-news-clime .overlay-2 {   
      height: 95%;
      padding-left: 10px;
      padding-right: 10px;
      @extend .overlay;
    }
    
  .container-news-clime .container-2:hover .overlay-2 {
      opacity: 1;
      cursor: pointer;
    }
    
/*End Conatiner Image 2 */

/*Conatiner Image 3 */
.container-news-clime .container-3 {
  position: relative;
}

.container-news-clime .image-3 {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.container-news-clime .overlay-3 {   
  height: 95%;
  padding-left: 10px;
  padding-right: 10px;
  @extend .overlay;
}

.container-news-clime .container-3:hover .overlay-3 {
  opacity: 1;
  cursor: pointer;
}
.container-news-clime .container-3  .button-add{
  background-color: $backgroundPurple;
  height: auto;
  padding: 2.5em 1em;
  bottom: 0px;
  right: 0px;
  padding: 10px 15px;
  border-radius: 20px;
  position: absolute;
  &:hover{
    background-color: $backgrounHoverBlue;
    cursor: pointer;
  }
}
.container-news-clime .container-3 .pluss{
  background-image: url(../images/pluss.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  display: block;
}

/*End Conatiner Image 3 */