.loader-container{
    width: 100%;
    height: 100%;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #3a4688c9;
    color: #fff;
    position: fixed;
    text-align: center;
}
.loader-container .content-stripple{
  display: block;
  position: fixed;
  width: 50px;
  margin: auto;
  left: 0;
  right: 0;
  top: 35%;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }