@media (max-width: 600px) {

    .sidebar-clime{
        position: relative!important;
        top:0px!important
    }

    .container-clime .clime-image-state{
        width: 45%!important;
    }
    .container-clime .number-list-clime{
        right: 0px!important;
    }
    .carousel::before, .carousel::after, .carousel__prev, .carousel__next{
        margin-top: 50%;
    }

    .container-clime .height-general-box{
        height: 65px!important;
    }
    .copiryng{
        font-size: 12px!important
    }
    .sidebar-mobile{
        z-index: 99999;
        position: fixed;
    }
    .container-news-clime .container-3 .pluss{
        width: 10px;
        height: 10px;
    }
    .container-clime .clime-image-state{
        width: 80%!important;
        margin-top: -5px;
    }
}
@media (max-width: 790px) {
    .sidebar-clime{
        top: 30px !important;
        right: 70px !important;
        position: fixed !important;
        width: 230px;
    }
    .menu_nav_mobile{
        display: block!important;
    }
   
}
@media (max-width: 1170px) {
    .container-clime .text-general-clime{
        font-size: 21px!important;
    }
    .container-clime .container-general-clime{
        padding: 10px
    }
    .container-clime .number-list-clime{
        width: 75px!important;
        padding: 5px!important;
        font-size: 12px!important;
    }
    .container-clime .container-list-text-clime{
        font-size: 12px!important;
    }
}